body {
	background-color: #efeff4;
}
.navbar-default {
  background-color: rgba(255, 0, 0, 0);
  border: none;
}

.navbar-default .navbar-text {
  color: #ABB4BD;
}
.navbar-default .navbar-nav > li > a {
  color: #808080;
  font-size: 1.1em;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	padding: 12px;
}

.container-fluid {
	padding: 0;
}

.headtop {
	padding-left: 20px;
	padding-right: 20px;
}

.section-header {
	position: absolute;
	top: 0;
}

.header-content {
	position: absolute;;
	width: 100%;
	bottom: 20%;
	z-index: 3;
	color: white;
	text-align: center;
	background: rgba(0, 0, 0, 0.4);
}

.header-content h1 {
	font-size: 8vw;
	letter-spacing: 0.4vw;
}

.header-content p {
	font-size: 3vw;
	font-weight: lighter;
	color: #ddd;
	letter-spacing: 0.2vw;
}
